  .heading
  {
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
    font-size: 25px;
  }
  .heading_div
  {
    background: white ; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
    float: none;
    font-size: 20px;
  }
  .heading_div2
  {
    font-size: 18px ;
  }
  .result_para_tag
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
  }

  .copy_right_footer{
    bottom: 0;
    color: lightseagreen;
    background-color: maroon;
    position: fixed;
    border-radius: 25px;
    text-align: center;
    line-height: 3;
    width: 50%;
    font-family: fantasy;
    font-size: 20px;
    font-weight: bold;
    float: none;
    left: 25%;
  }

  .result_para_tag span{
    white-space: pre-line;
  }

  canvas{
    border: 7px solid darkgoldenrod;
    margin-top: 115px;
    box-shadow: 8px 3px 25px lightsalmon;
  }
 